## **Actividad Codebook y Receta Grupo 5**

### **Columnas del JSON**

In [1]:
# 1. Cargar librerías y JSON
import json
import pandas as pd

with open('repos.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

# 2. Crear DataFrame
df = pd.DataFrame(data)

# Mostrar las primeras filas
df.head()

,id,node_id,name,full_name,private,owner,html_url,description,fork,url,...,forks_count,mirror_url,archived,disabled,open_issues_count,license,forks,open_issues,watchers,default_branch
0,155565363,MDEwOlJlcG9zaXRvcnkxNTU1NjUzNjM=,2018,jtleek/2018,False,"{'login': 'jtleek', 'id': 1571674, 'node_id': ...",https://github.com/jtleek/2018,Fall 2018 repository with course materials for...,True,https://api.github.com/repos/jtleek/2018,...,3,None,False,False,0,None,3,0,0,master
1,264786491,MDEwOlJlcG9zaXRvcnkyNjQ3ODY0OTE=,ads2020,jtleek/ads2020,False,"{'login': 'jtleek', 'id': 1571674, 'node_id': ...",https://github.com/jtleek/ads2020,Advanced Data Science 2020 Edition,False,https://api.github.com/repos/jtleek/ads2020,...,17,None,False,False,9,None,17,9,59,master
2,101394164,MDEwOlJlcG9zaXRvcnkxMDEzOTQxNjQ=,advdatasci,jtleek/advdatasci,False,"{'login': 'jtleek', 'id': 1571674, 'node_id': ...",https://github.com/jtleek/advdatasci,None,True,https://api.github.com/repos/jtleek/advdatasci,...,10,None,False,False,0,None,10,0,17,master
3,111447948,MDEwOlJlcG9zaXRvcnkxMTE0NDc5NDg=,advdatasci-project,jtleek/advdatasci-project,False,"{'login': 'jtleek', 'id': 1571674, 'node_id': ...",https://github.com/jtleek/advdatasci-project,Awesome project!,False,https://api.github.com/repos/jtleek/advdatasci...,...,0,None,False,False,0,None,0,0,1,master
4,47568815,MDEwOlJlcG9zaXRvcnk0NzU2ODgxNQ==,advdatasci-swirl,jtleek/advdatasci-swirl,False,"{'login': 'jtleek', 'id': 1571674, 'node_id': ...",https://github.com/jtleek/advdatasci-swirl,None,False,https://api.github.com/repos/jtleek/advdatasci...,...,2,None,False,False,1,None,2,1,4,master

### **Información General del DataFrame**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 73 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 30 non-null     int64
 1   node_id            30 non-null     object
 2   name               30 non-null     object
 3   full_name          30 non-null     object
 4   private            30 non-null     bool
 5   owner              30 non-null     object
 6   html_url           30 non-null     object
 7   description        23 non-null     object
 8   fork               30 non-null     bool
 9   url                30 non-null     object
 10  forks_url          30 non-null     object
 11  keys_url           30 non-null     object
 12  collaborators_url  30 non-null     object
 13  teams_url          30 non-null     object
 14  hooks_url          30 non-null     object
 15  issue_events_url   30 non-null     object
 16  events_url         30 non-null     object
 17  assignees_url      30 non-null     object
 18  branches_url       30 non-null     object
 19  tags_url           30 non-null     object
 20  blobs_url          30 non-null     object
 21  git_tags_url       30 non-null     object
 22  git_refs_url       30 non-null     object
 23  trees_url          30 non-null     object
 24  statuses_url       30 non-null     object
 25  languages_url      30 non-null     object
 26  stargazers_url     30 non-null     object
 27  contributors_url   30 non-null     object
 28  subscribers_url    30 non-null     object
 29  subscription_url   30 non-null     object
 30  commits_url        30 non-null     object
 31  git_commits_url    30 non-null     object
 32  comments_url       30 non-null     object
 33  issue_comment_url  30 non-null     object
 34  contents_url       30 non-null     object
 35  compare_url        30 non-null     object
 36  merges_url         30 non-null     object
 37  archive_url        30 non-null     object
 38  downloads_url      30 non-null     object
 39  issues_url         30 non-null     object
 40  pulls_url          30 non-null     object
 41  milestones_url     30 non-null     object
 42  notifications_url  30 non-null     object
 43  labels_url         30 non-null     object
 44  releases_url       30 non-null     object
 45  deployments_url    30 non-null     object
 46  created_at         30 non-null     object
 47  updated_at         30 non-null     object
 48  pushed_at          30 non-null     object
 49  git_url            30 non-null     object
 50  ssh_url            30 non-null     object
 51  clone_url          30 non-null     object
 52  svn_url            30 non-null     object
 53  homepage           4 non-null      object
 54  size               30 non-null     int64
 55  stargazers_count   30 non-null     int64
 56  watchers_count     30 non-null     int64
 57  language           19 non-null     object
 58  has_issues         30 non-null     bool
 59  has_projects       30 non-null     bool
 60  has_downloads      30 non-null     bool
 61  has_wiki           30 non-null     bool
 62  has_pages          30 non-null     bool
 63  forks_count        30 non-null     int64
 64  mirror_url         0 non-null      object
 65  archived           30 non-null     bool
 66  disabled           30 non-null     bool
 67  open_issues_count  30 non-null     int64
 68  license            0 non-null      object
 69  forks              30 non-null     int64
 70  open_issues        30 non-null     int64
 71  watchers           30 non-null     int64
 72  default_branch     30 non-null     object
dtypes: bool(9), int64(9), object(55)
memory usage: 15.4+ KB

## **Resumen Cuantitativo**

In [3]:
df.describe()

,id,size,stargazers_count,watchers_count,forks_count,open_issues_count,forks,open_issues,watchers
count,3.000000e+01,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,1.165964e+08,42662.766667,233.766667,233.766667,7945.800000,28.133333,7945.800000,28.133333,233.766667
std,1.148139e+08,84113.279749,1066.586003,1066.586003,43334.536489,150.515604,43334.536489,150.515604,1066.586003
min,4.772877e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.573920e+07,101.500000,0.250000,0.250000,0.000000,0.000000,0.000000,0.000000,0.250000
50%,7.077809e+07,489.000000,3.500000,3.500000,2.000000,0.000000,2.000000,0.000000,3.500000
75%,2.267721e+08,58141.250000,9.250000,9.250000,8.500000,0.000000,8.500000,0.000000,9.250000
max,3.204620e+08,374812.000000,5836.000000,5836.000000,237386.000000,825.000000,237386.000000,825.000000,5836.000000

## **Resumen de Metadatos**

In [ ]:
uniques = {}
for col in df.columns:
    try:
        uniques[col] = df[col].nunique(dropna=False)
    except TypeError:
        uniques[col] = df[col].dropna().astype(str).nunique()

metadata = pd.DataFrame({
    'dtype':  df.dtypes,
    'nulos':  df.isnull().sum(),
    'únicos': pd.Series(uniques)
})
metadata

                 dtype  nulos  únicos
id               int64      0      30
node_id         object      0      30
name            object      0      30
full_name       object      0      30
private           bool      0       1
...                ...    ...     ...
license         object     30       1
forks            int64      0      15
open_issues      int64      0       6
watchers         int64      0      15
default_branch  object      0       3

[73 rows x 3 columns]

In [ ]:
from pandas.api.types import is_numeric_dtype, is_datetime64_any_dtype
# 2. Definir función para generar el codebook
def generate_codebook(df):
    records = []
    for col in df.columns:
        series = df[col]
        dtype = series.dtype
        # contar faltantes
        missing_count = series.isnull().sum()
        # valores posibles (si hay <=20 únicos los listamos, si no mostramos el conteo)
        uniques = series.dropna().unique()
        if len(uniques) <= 20:
            posibles = uniques.tolist()
        else:
            posibles = f'{len(uniques)} valores únicos'
        # estadísitcas básicas
        if is_numeric_dtype(series):
            stats = series.describe().to_dict()
        elif is_datetime64_any_dtype(series):
            stats = {'min': series.min(), 'max': series.max()}
        else:
            top = series.mode().iloc[0] if not series.mode().empty else None
            freq = series.value_counts().iloc[0] if not series.value_counts().empty else None
            stats = {'unique': series.nunique(), 'top': top, 'freq': freq}
        records.append({
            'nombre': col,
            'descripcion': '',                      # completar manualmente
            'tipo de dato': str(dtype),
            'unidades': '',                         # completar si aplica
            'valores posibles': posibles,
            'valores especiales/faltantes': missing_count,
            'estadisticas basicas': stats,
            'fuente original': '',                  # completar manualmente
            'transformaciones': '',                 # documentar aquí
            'notas': ''                             # anotaciones adicionales
        })
    return pd.DataFrame(records)

# 3. Crear y visualizar el codebook
codebook = generate_codebook(df)
codebook.head()

# 4. (Opcional) Exportar a CSV o Excel para revisión externa
codebook.to_csv('codebook.csv', index=False)
# o bien
codebook.to_excel('codebook.xlsx', index=False)

NameError: name 'is_numeric_dtype' is not defined